.App {
  text-align: center;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px
}

.card_grid div img {
  width: 100%
}

.card_grid div button {
  color: #ffffff;
  background-color: rgb(215, 112, 132);
  padding: 5% 18%;
  border-radius: 25px;
  border: none
}